.container {
    display: grid;
}

.bird-image {
    max-width: 400px;
    max-height: 320px;
    object-fit: contain;
}

#history {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.message {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;

}




#chat_container {
    text-align: center;
    border: 1px solid #ccc;
    padding: 10px;
    width: 100%; /* 根据需要调整宽度 */
    height: 300px; /* 根据需要调整高度 */
    overflow-y: auto; /* 添加垂直滚动条 */
    margin: 10px auto;
}

#chat_interface {
    margin-bottom: auto;
}

#chatBar {
    text-align: center;
}
#history {
    text-align: center;
}

input[readonly] {
    background-color: #eee;
}

#map {
    height: 320px;
    width: 300px;
    max-height: 320px;
    max-width: 450px;
    margin: 5px auto;
}

.hidden {
    visibility: hidden;
    max-height: 0;
    margin-bottom: 0;
}

.image-container {
    margin: auto;
}

#birdImgAnchor {
    margin: 5px auto;
    display: flex;
}

#birdImg {
    margin: auto;
    display: flex;
}

#detailsWrapper {
    margin-bottom: 20px;
}

#homeLink, #addPicLink {
    text-decoration: underline;
}

#homeLink:hover, #addPicLink:hover {
    color: #ADD8E6
}

@media screen and (max-width:980px){
    #birdImg {
        max-height: 230px;
    }
    #map {
        max-height: 230px;
    }
}