/*body {*/
/*  padding: 50px;*/
/*  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/
/*}*/

/*a {*/
/*  color: #00B7FF;*/
/*}*/
form {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"],
select {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='%23808080' d='M2 7l10 10 10-10z'/%3E%3C/svg%3E");
  background-position: right 10px center;
  background-repeat: no-repeat;
  background-size: 20px;
  padding-right: 40px;
}

input[type="submit"] {
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #3e8e41;
}

#name-and-unknown-wrapper {
  display: flex;
  align-items: center;
}

#name-wrapper {
  display: block;
  width: 80%;
  margin-right: 10px;
}

#unknown-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

#inputImageWrapper {
  margin-bottom: 20px;
}

#addr {
  background-color: #ddd;
}

#details {
  margin: auto !important;
}

