<!DOCTYPE html>
<html>
<head>
    <title>bird</title>
    <link rel='stylesheet' href='/stylesheets/style.css'>
    <script type="application/javascript" src="/javascripts/index.js"></script>
</head>
<body>
<h1>brid</h1>
<p>show the bird information in there </p>

<form action="bird" method="POST" enctype="multipart/form-data">
    <label for="name">name</label>
    <input type="text" id="name" name="name" value="" />

    <p><label for="data">data</label>
    <input type="text" id="data" name="data" value="" />
    </p>
    <p><label for="location">location</label>
        <input type="text" id="location" name="location" value="" />
    </p>

    <label for="category">category</label>
    <select id="category" name="category">
        <option value="c" selected>A</option>
        <option value="f">B</option>
        <option value="k">C</option>
    </select>


    <label for="inputImage">Please upload your images in here</label>
    <div >
    <input type="file" id="inputImage" name="inputImg" value="choose" enctype="multipart/form-data" />
<!--        <input type="file" id="inputImage" name="inputImg" value="choose" accept="image/*" required >-->
    </div>


    <p><label for="details">details</label>
        <textarea id="details" name="details" rows="10" cols="50"></textarea>
    </p>

    <p><input type="submit" , value = " ok"></p>
</form>
</body>
</html>