<!DOCTYPE html>
<html>
<head>
    <title>bird</title>
    <link rel='stylesheet' href='/stylesheets/style.css'>
    <script type="application/javascript" src="/javascripts/index.js"></script>

    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script type="module" src="javascripts/gmaps.js"></script>
    <link rel="stylesheet" type="text/css" href="stylesheets/gmaps.css">


    <script type="module" src="/javascripts/idb/index.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="javascripts/database.js" type="module"></script>
    <script src="javascripts/app.js"></script>

</head>

<body onload="initBirdWatching()">
<h1>brid</h1>
<p>show the bird information in there </p>

<form action="bird" method="POST" enctype="multipart/form-data">
    <label for="name">name</label>
    <input type="text" id="name" name="name" value="" />

    <p><label for="data">data</label>
    <input type="text" id="data" name="data" value="" />
    </p>
    <p><label for="location">location</label>
        <input type="text" id="location" name="location" value="" />
    </p>
    <p><label for="addr">Address (from Map)</label>
        <input type="text" id="addr" name="addr" value="" readonly/>
    </p>
    <p><label for="latlng">Latitude/Longitude (from Map)</label>
        <input type="text" id="latlng" name="Latitude/Longitude" value="" readonly/>
    </p>
    <p class="invisible-field"><label for="lat">Lat (should be hidden)</label>
        <input type="text" id="lat" name="lat" value="" readonly/>
    </p>
    <p class="invisible-field"><label for="lng">Lng (should be hidden)</label>
        <input type="text" id="lng" name="lng" value="" readonly/>
    </p>
    <div id="map"></div>

    <label for="category">category</label>
    <select id="category" name="category">
        <option value="c" selected>A</option>
        <option value="f">B</option>
        <option value="k">C</option>
    </select>


    <label for="inputImage">Please upload your images in here</label>
    <div >
    <input type="file" id="inputImage" name="inputImg" value="choose" enctype="multipart/form-data" />
<!--        <input type="file" id="inputImage" name="inputImg" value="choose" accept="image/*" required >-->
    </div>


    <p><label for="details">details</label>
        <textarea id="details" name="details" rows="10" cols="50"></textarea>
    </p>

    <p><input type="submit" , value = " ok"></p>
</form>

<script>(g=>{var h,a,k,p="The Google Maps JavaScript API",c="google",l="importLibrary",q="__ib__",m=document,b=window;b=b[c]||(b[c]={});var d=b.maps||(b.maps={}),r=new Set,e=new URLSearchParams,u=()=>h||(h=new Promise(async(f,n)=>{await (a=m.createElement("script"));e.set("libraries",[...r]+"");for(k in g)e.set(k.replace(/[A-Z]/g,t=>"_"+t[0].toLowerCase()),g[k]);e.set("callback",c+".maps."+q);a.src=`https://maps.${c}apis.com/maps/api/js?`+e;d[q]=f;a.onerror=()=>h=n(Error(p+" could not load."));a.nonce=m.querySelector("script[nonce]")?.nonce||"";m.head.append(a)}));d[l]?console.warn(p+" only loads once. Ignoring:",g):d[l]=(f,...n)=>r.add(f)&&u().then(()=>d[l](f,...n))})
    ({key: "AIzaSyCE2UeJSbO5af-ZqcPD8x-dflXCUWp3ZWY", v: "weekly"});</script>
</body>
</html>