<!DOCTYPE html>
<html>
<head>

    <link rel='stylesheet' href='/stylesheets/show.css'>
    <script
            src="https://code.jquery.com/jquery-3.6.4.slim.min.js"
            integrity="sha256-a2yjHM4jnF9f54xUQakjZGaqYs/V1CYvWpoqZzC2/Bw="
            crossorigin="anonymous"></script>    <!--    <script type="application/javascript" src="/javascripts/index.js"></script>-->
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <link rel="stylesheet" type="text/css" href="stylesheets/geocodeMap.css" />

    <!--    <script type="module" src="javascripts/geocoder.js"></script> -->

    <script type="module" src="javascripts/searchByAddress.js"></script>
</head>

<body>
    <script defer src="week1b/public/javascripts/form.js"></script>


















</body>