<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>This is the home page for <%= title %></p>
    <a href="welcome">getting the other file</a>
  </body>
</html>
